[submodule "workshops/kubernetes-hands-on-workshop"]
	path = workshops/kubernetes-hands-on-workshop
	url = git@github.com:mspiegel31/kubernetes-hands-on-workshop.git
[submodule "workshops/production-ready-rn-codemash-2019"]
	path = workshops/production-ready-rn-codemash-2019
	url = git@github.com:mspiegel31/production-ready-rn-codemash-2019.git
[submodule "workshops/DesignSystemStarter"]
	path = workshops/DesignSystemStarter
	url = git@github.com:mspiegel31/DesignSystemStarter.git
[submodule "other/Presentations"]
	path = other/Presentations
	url = https://github.com/MFazio23/Presentations.git
[submodule "day-2/api-on-the-scale-of-decades/apis-for-decades"]
	path = day-2/api-on-the-scale-of-decades/apis-for-decades
	url = https://github.com/garyfleming/apis-for-decades.git
[submodule "day-2/securing-your-api-endpoints-a-practical-guide/Securing-Your-API-Endpoints"]
	path = day-2/securing-your-api-endpoints-a-practical-guide/Securing-Your-API-Endpoints
	url = https://github.com/spetryjohnson/Securing-Your-API-Endpoints.git
